<html>
    <head>
        <title>homeeee page</title>
        <!-- <link rel="stylesheet" type="text.css" href="assets/style.css"> -->
        <!-- <style>body{
            background-color: red;
        }</style> -->
    </head>
   

    <body>
       
        <h1>Hi Mr. <%=name%></h1>
        
        <ul>
        
        </ul>
    </body>
</html>